<div class="container mt-5 text-center text-primary">
    <h3>Update Client</h3>
</div>


<div class="container mt-3 p-5 text-center bg bg-light ">

    
  <div class="form-floating mb-3 w-25">
      <input type="text" class="form-control" id="floatingInput" placeholder="Id">
      <label for="floatingInput">ID</label>
  </div>

  <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
  </div>

  <div class="form-floating mb-3 w-50">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="form-floating mb-3">
    <input type="date" class="form-control" id="floatingDateOfBirth" placeholder="Date Of Birth">
    <label for="floatingDateOfBirth">Date Of Birth</label>
  </div>

  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingPostalCode" placeholder="Postal Code" min="0">
    <label for="floatingPostalCode">Postal Code</label>
  </div>

  <div class="container">
    <button class="btn btn-primary w-25">Update</button>
  </div>

</div>