<main >
    @if(isLoading){
        <div> CurrentUser is still loading.</div>
        <!-- <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div> -->


          <section class="mainContainer bg bg-light shadow m-3 mt-0">

            <div class="imageContainer bg bg-light">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
        
            <!-- <div class="detailsContainer "> -->
                <div class="detailsContainer card bg bg-light" >
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                   
                </div>  
        </section>
    }




    <!-- Once the currentUser variable is filled with apiUserResponseData only then it will load this -->


        @else if(!isLoading) {
            <h5 class="detailsHeader ">Profile Details</h5>

            <section class="mainContainer bg bg-light shadow m-3 mt-0">

                <div class="imageContainer bg bg-light">
                    <img [src]="completeImageUrl" alt="profile picture">

                    <div class="imageUpload">
                        <label class="imageUploadLabel" for="profileImageUpload">
                            <!-- <i class="fa-solid fa-camera-retro fa-beat-fade"></i> Font Awesome icon -->
                            <i class="fa-solid fa-camera fa-xl" style="color: #ff8000;"></i>
                        </label>
                          <input 
                            id="profileImageUpload" 
                            type="file" 
                            accept="image/*" 
                            (change)="updateProfilePicture($event)"
                            style="display: none;"
                          >
                        
                      </div>
                </div>
            
                <!-- <div class="detailsContainer "> -->

                    <div class="detailsContainer card bg bg-light" >
                        
                      
                        <ul class="details list-group list-group-flush ">
                          <li class="list-group-item bg bg-light" > <span class="label">Email :</span><span class="contents"> {{currentUser.email}}</span></li>
                          <li class="list-group-item bg bg-light"><span class="label">Created On :</span><span class="contents"> {{formattedCreatedOn}}</span></li>
                          
                        </ul>

                        <!-- <div class="updateButton  card-body">
                            <button mat-raised-button class="btn" (click)="openUpdateModal(currentUser.email)">Update User</button> 
                        </div> -->

                        
                        <div class="updateButton  card bg bg-light">
                            <ul class="details list-group list-group-flush ">
                                <li class="list-group-item bg bg-light">
                                    <button mat-raised-button class="btn" (click)="openUpdateModal(currentUser.email)">Update User</button> 
                                </li>
                            </ul>
                        </div>
                         

                        <div class="updatedOn">
                            <ul class="details list-group list-group-flush">
                                <li class="list-group-item  bg bg-light">
                                    <span class="updatedOn">
                                        Last Updated on {{formattedUpdatedOn}}
                                    </span>
                                </li>
                            </ul>    
                          </div>
                      </div>  
            
            </section>
       
            <section class="galleryContainer bg bg-light shadow m-3 mt-5 mt-0">
                <app-image-gallery 
                (hasImages)="checkingImagesInGallery($event)"
                />       
                <div *ngIf="!areImagesPresentInGallery" class="emptyState">
    
                   <p> No images found. </p>
                  </div>
            </section>

 }


</main>