<main>

<app-client-search
(clientSearch)="searchClients($event)"
/>


<!-------------------------------------- This is DYNAMIC to insert new client -------------------------------------->
<div *ngIf="!isCheckBoxChecked" class="insertButtonContainer">
    <button type="button" class="button" (click)="openInsertClientModal()">
        <i class="fas fa-plus fa-lg me-2"></i> Insert
    </button>
</div>
<!-- This is DYNAMIC to deleteMultiple clients -->
<div *ngIf="isCheckBoxChecked" class="multipleDeleteButtonContainer">
    <button type="button" class="button btn btn-danger" (click)="openDeleteMultipleClientModal(selectedClients)">
        <i class="fa-solid fa-trash me-2"></i> Delete Multiple
    </button>
</div>




<!-------------------------------------- This table is for Bigger-Screen/Desktop -------------------------------------->
<div *ngIf="!isMobile" class="clientTable">
    <table class="table table-borderless">

        <thead >
            <tr>
                <th>
                    <!-- <button class="btn" (click)="resetCheckBox()"> -->
                        <i class="uncheckIcon fa-solid fa-square-xmark fa-xl" (click)="resetCheckBox()"></i>
                    <!-- </button> -->
                </th>
                <th><b>ID</b></th>
                <th><b>FIRST NAME</b></th>
                <th><b>LAST NAME</b></th>
                <th><b>DOB</b></th>
                <th><b>POSTAL CODE</b></th>
                <th><b>ACTION</b></th>
                <!-- <th>Delete</th> -->
            </tr>
        </thead>
            <!-- ------------------------------------If client is  still loading for big screen---------------------------------------->
                      <tr *ngIf="isLoading">
                        <td colspan="8" class="loader text-center">

                            <div class="loadingMessage">Loading Please Wait a second</div>
                            <div class="spinner-border" role="status">
                                
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>

                    <!-- <div *ngIf="isLoading" class="loader ">
                         <div class="loadingMessage">Loading Please Wait a second</div>
                            <div class="spinner-border" role="status">
                                
                                <span class="visually-hidden">Loading...</span>
                            </div>
                    </div> -->
                <!-------------------------------------- IF client is Loaded completely for big screen -------------------------------------->
                 <tbody>
                    @for (client of clientList ; track client.id) {
                    <tr *ngIf="!isLoading" class="clickable-row" >
                    <td >
                        <input type="checkbox" 
                        [checked]="selectedClients.includesClientId(client.id)"
                         (change)="toggleClientSelection(client.id)"
                         class="checkbox">
                    </td>
                    <td>{{client.id}}</td>
                    <td>{{client.firstName}}</td>
                    <td>{{client.lastName}}</td>
                    <td>{{client.dateOfBirth}}</td>
                    <td>{{client.postalCode}}</td>

                    <td class="text-center">
                        <div class="d-flex gap-3 justify-content-start">
                            <button class="updateButton" (click)="navigateToUpdatePage(client.id); $event.stopPropagation()">
                               <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                            </button>

                            <button class="deleteButton" (click)="openDeleteSingleClientModal(client.id)">
                               <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </button>
                        </div> 
                    </td>
                
                </tr>
            }
        </tbody>


    </table>
</div>









<!-- MOBILE : This is Angular-Material-Accordian For smaller-Screen-------------------------------------------------------- -->
    <section  *ngIf="isMobile" class="tableMobile">
        <div class="mobileResetContainer text-center">
            <button mat-button class="resetButton" (click)="resetCheckBox()">
                <i class="uncheckIcon fa-solid fa-square-xmark fa-small" ></i>
                Reset Selection
            </button>

        </div>
            
            <!------------- If the page is still loading for mobile devices/small screen---------------  -->
                    <div *ngIf="isLoading" class="panelContainer col-13">

                        <div class="container p-5 text-center">
                            
                             <div class="loadingMessage">Loading Please Wait a second</div>
                            <div class="spinner-border" role="status"></div>

                        </div>

                    </div>


        <!------------- If the page is loaded completely for mobile devices/small screen---------------  -->
        @for (client of clientList ; track client.id) {
            <div *ngIf="!isLoading" class="mobileContainer">
        <mat-accordion >
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header  class="panelHeader">
                <mat-panel-title class="panelTitle" >
                    <input type="checkbox" 
                        [checked]="selectedClients.includesClientId(client.id)"
                         (change)="toggleClientSelection(client.id)"
                         (click)="$event.stopPropagation()">
                </mat-panel-title>
               
                <mat-panel-title class="panelTitle"> {{client.id}} </mat-panel-title>
                <mat-panel-title class="panelTitle"> {{client.firstName}} </mat-panel-title>
                <mat-panel-title class="panelTitle"> {{client.lastName}} </mat-panel-title>
               
                </mat-expansion-panel-header>
                <div class="contentContainer1">
                        <div class="firstContent">
                            <span class="label">
                                First Name &nbsp;:&nbsp; 
                            </span>
                            <span class="data">{{client.firstName}}</span>
                        </div>
                        
                        <div class="secondContent">
                            <span class="label">
                                Last Name &nbsp;:&nbsp;
                            </span>
                            <span class="data">{{client.lastName}}</span>
                        </div>
                </div>

                <div class="contentContainer2">
                        <div class="firstContent">
                            <span class="label">
                                Dater Of Birth &nbsp; : &nbsp;
                            </span>
                            <span class="data">{{client.dateOfBirth}}</span>
                        </div>
                </div>

                <div class="contentContainer2">                        
                        <div class="secondContent">
                            <span class="label">
                                Postal Code &nbsp;: &nbsp;
                            </span>
                            <span class="data">
                                {{client.postalCode}}
                            </span>
                        </div>
                </div>
                <br>
                <div class="buttons">
                    <button mat-raised-button class="update"
                    (click)="navigateToUpdatePage(client.id); $event.stopPropagation()">
                         <i class="fa-solid fa-pen" style="color: #ffffff;"></i>    
                    </button>
                    <button mat-raised-button class="delete"
                    (click)="openDeleteSingleClientModal(client.id)"> 
                        <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                    </button>
                </div>
 
            </mat-expansion-panel>
        </mat-accordion>
    </div>
        <!-- <br> -->
        }
    </section>  

    



<!---- (contentSize --emitts number--) is the @Output Emitted from PaginationComponent.
        [pageLinks]="pageLinks" sending to childClass.

------------->
<app-pagination
[pageLinks]="pageLinks" 
(contentSize)="setContentPerPage($event)"
(pageUrl)="toSpecificPage($event)"
/>

</main>

