

<!-- <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Link with href
  </a> -->
  <!-- <button class="sidebarButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="sidebarHeader offcanvas-header bg bg-secondary text-light">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Side-Bar</h5>
      <button type="button" class="sideBarCloseButton btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        
        <button type="button" class="btn btn-primary" (click)="openInsertClientModal()">
            <i class="fas fa-plus"></i> Add New Client
        </button>

      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div> -->

<!-- ------------------------------------------------------------------------------------------- -->

<app-client-search
(clientSearch)="searchClients($event)"
/>

<!-- <button (click)="printCheckBoxNumbers()">Print</button> -->
<!-- This is to insert new client -->

<div *ngIf="!isCheckBoxChecked" class="insertButtonContainer mb-3">
    <button type="button" class="button" (click)="openInsertClientModal()">
        <i class="fas fa-plus me-2"></i> Insert
    </button>
</div>

<div *ngIf="isCheckBoxChecked" class="multipleDeleteButtonContainer mb-3">
    <button type="button" class="button btn btn-danger" (click)="openDeleteMultipleClientModal(selectedClients)">
        <i class="fa-solid fa-trash fa-beat-fade me-2"></i> Delete Multiple
    </button>
</div>






<div class="clientTable">
    <table class="table table-hover">

        <thead >
            <tr class="header">
                <th>
                    <!-- <button class="btn" (click)="resetCheckBox()"> -->
                        <i class="uncheckIcon fa-solid fa-square-xmark fa-fade fa-xl" (click)="resetCheckBox()"></i>
                    <!-- </button> -->
                </th>
                <th><b>Id</b></th>
                <th><b>First-Name</b></th>
                <th><b>Last-Name</b></th>
                <th><b>Date-Of-Birth</b></th>
                <th><b>Postal-Code</b></th>
                <th><b>Action</b></th>
                <!-- <th>Delete</th> -->
            </tr>
        </thead>
        
        <tbody>
            @for (client of clientList ; track client.id) {
                <!-- <tr class="clickable-row" (click)="openSelectedClient(client.id)"> -->
                    <tr class="clickable-row">
                    <td>
                        <input type="checkbox" 
                        [checked]="selectedClients.includesClientId(client.id)"
                         (change)="toggleClientSelection(client.id)">
                    </td>
                    <td>{{client.id}}</td>
                    <td>{{client.firstName}}</td>
                    <td>{{client.lastName}}</td>
                    <td>{{client.dateOfBirth}}</td>
                    <td>{{client.postalCode}}</td>

                    <td class="text-center">
                        <div class="d-flex gap-3 justify-content-start">
                            <button class="updateButton btn btn-primary" (click)="navigateToUpdatePage(client.id); $event.stopPropagation()">
                                Update  <i class="fa-solid fa-pen ms-2"></i></button>

                            <button class="deleteButton btn btn-danger" (click)="openDeleteSingleClientModal(client.id)">
                                Delete <i class="fa-solid fa-trash ms-2" ></i></button>
                        </div> 
                    </td>
                
                </tr>
            }
        </tbody>


    </table>
</div>



<!---- (contentSize --emitts number--) is the @Output Emitted from PaginationComponent.
        [pageLinks]="pageLinks" sending to childClass.

------------->
<app-pagination
[pageLinks]="pageLinks" 
(contentSize)="setContentPerPage($event)"
(pageChange)="toSpecificPage($event)"
/>



