

<!-- <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Link with href
  </a> -->
  <!-- <button class="sidebarButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="sidebarHeader offcanvas-header bg bg-secondary text-light">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Side-Bar</h5>
      <button type="button" class="sideBarCloseButton btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        
        <button type="button" class="btn btn-primary" (click)="openInsertClientModal()">
            <i class="fas fa-plus"></i> Add New Client
        </button>

      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div> -->

<!-- ------------------------------------------------------------------------------------------- -->

<app-client-search/>

@if (isClientInserted) {
  <alert type="success">
    <strong>Well done!</strong> Client Inserted Successfully.
  </alert>
}

@if (!isClientInserted) {
    <alert type="danger">
        <strong>Oh snap!</strong> Client not Inserted and try submitting again.
      </alert>

}

<div class="insertButtonContainer">
    <button type="button" class="button" (click)="openInsertClientModal()">
        <i class="fas fa-plus"></i> Insert
    </button>
</div>

<table class="table table-striped">

    <thead>
        <tr >
            <th><b>Id</b></th>
            <th><b>First-Name</b></th>
            <th><b>Last-Name</b></th>
            <th><b>Date-Of-Birth</b></th>
            <th><b>Postal-Code</b></th>
            <th><b>Action</b></th>
            <!-- <th>Delete</th> -->
        </tr>
    </thead>
    
    <tbody>
        @for (client of clientList ; track client.id) {
            <!-- <tr class="clickable-row" (click)="openSelectedClient(client.id)"> -->
                <tr class="clickable-row">
                
                <td>{{client.id}}</td>
                <td>{{client.firstName}}</td>
                <td>{{client.lastName}}</td>
                <td>{{client.dateOfBirth}}</td>
                <td>{{client.postalCode}}</td>

                <td class="text-center">
                    <div class="d-flex gap-3 justify-content-start">
                        <button class="updateButton btn btn-primary w-25" (click)="navigateToUpdatePage(client.id); $event.stopPropagation()">
                            <i class="fa-solid fa-pen me-2"></i> Update</button>

                        <button class="deleteButton btn btn-danger" >
                            <i class="fa-solid fa-trash me-2"></i>Delete</button>
                    </div> 
                </td>
            
            </tr>
        }
    </tbody>


</table>






<!-- This is the PAGINATION COMPONENT -->
<div class=" d-flex justify-content-center mt-5">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" >
                <a class="page-link" (click)="toSpecificPage('first')">FirstPage</a>
            </li>
            
            <li class="page-item " >
                <a class="page-link" (click)="toSpecificPage('prev')"> &laquo; </a>
            </li>
         <li class="page-item active"><a class="one page-link" (click)="toSpecificPage('first')" > 1 </a></li>
       
        <li class="page-item" >
            <a class="page-link" (click)="toSpecificPage('next')">  &raquo; </a>
        </li>
        <li class="page-item" >
            <a class="page-link" (click)="toSpecificPage('last')">Last</a>
        </li>
        </ul>
    </nav>
</div>


<!-- This is for Selecting Number Of Client Contents Per Page -->
<section class="pageContent container-fluid  mb-2 p-2 text-center">
    
    <label class="me-3" for="contentNumber">Content Per Page </label>

    <select class="col-1 p-1 text-center bg bg-light text-dark" id="contentNumber" [(ngModel)]="contentSize"
    (change)="setContentPerPage($event)">  
       <!-- generateContentSize is a method that generates the value for content size. it return array of number. -->
        @for (size of generateContentSize(); track size ) {
        <option value={{size}} > {{size}} </option>
        }
    </select>

</section>