.navbar-toggler{
  box-shadow: none !important;
  padding:16px;
  border: none;

}

.navbar-toggler:active{
  /* border: 2px solid var(--lighterShade) !important; */
  background-color: var(--orange);
  box-shadow: none !important;
} 

/* separting left menu and right menu */
@media (min-width:1000px){
    .collapse{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .rightMenu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .leftMenu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
}


/* .headerContainer{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  
} */

.navbar{
  padding-left:20px;
  padding-top : 20px;
}

.navbar-nav{
  /* border-bottom: 4px solid var(--lightShade); */
}

.navbar-brand{
    font-weight: bolder;
    
  }

.navbar-brand>h3{
  color: var(--lightShade);
  font-weight: bold;
  width:fit-content;
  margin: auto;
  letter-spacing: 0.5px;
}


/* this is ul > li > a. */
.nav-link{
  letter-spacing: 0.5px;
}

.nav-link:focus{
  color:var(--lightShade);
}

.active-link{
  color:var(--white);
  font-weight: bolder;
  border-bottom: 3px solid var(--orange);
}

.active-link:hover{
  color: var(--orange) !important; 
}

a{
  color: var(--lightShade);
}

a:hover{
  color: var(--orange);
   transition-duration: 0.3s;
}







/* When the menu is compacted in small screen */
@media (max-width : 1000px) {
  .navbar{
    padding-left:0px;
    padding-top : 5px;
  }

    /* "ClientRecords" left padding is 0  */
    .navbar-brand{
      padding-left: 0px;
    }

   .navbar-nav{
    padding-left:1rem;
    }

      li:hover{
        transition-duration: 0.5s;
        border-radius: 10px !important;
      }

        .nav-link{
          width: 90%;
        }

        .active-link{
          color:var(--white);
          padding-left:1rem;
          /* width: max-content; */
        }

 

}