.active-link{
  color:var(--lightShade);
  background-color: var(--orange);
  border-radius: 10px !important;
}

a{
  color: var(--secondaryColor);
  border-radius: 10px !important;
}

.headerContainer{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

a:hover{
  color: var(--darkBlue);
}

.active-link:hover{
  color: var(--lightShade);
}



/* When the menu is compacted in small screen */
@media (max-width : 900px) {

  li:hover{
    background-color: var(--lightShade);
    transition-duration: 0.5s;
    border-radius: 10px !important;
  }

  a{
    color: var(--secondaryColor);
    border-radius: 10px !important;
    padding-left:20px;
  }


}