

<mat-toolbar-row class="header">
  <ng-container *ngIf="(isRoleUser$ | async) || (isRoleAdmin$ |async)" class="ngContainer" id="buttons">
    <button mat-icon-button (click)="menuToggle.emit()" class="button" >
      <mat-icon>menu</mat-icon>
      ClientRecords
    </button>
  </ng-container>
    
    <ng-container *ngIf="!(isRoleUser$ | async) && !(isRoleAdmin$ |async)" class="ngContainer" id="buttons">
      ClientRecords
    </ng-container>
</mat-toolbar-row>



<mat-toolbar color="primary" class="menu" >  
    
    <!-------------------------------------- For Public -------------------------------------------------------------------------->
    <ng-container *ngIf="!(isRoleUser$ | async) && !(isRoleAdmin$ |async)" class="ngContainer">
      <button mat-button routerLink=""
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        Home 
      </button>
      <button mat-button routerLink="login"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        Login
      </button>
      <button mat-button routerLink="register"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        Register
      </button>
    </ng-container>




   
    <!--------------------------------------For User----------------------------------------------------------------------- -->

    <ng-container *ngIf="(isRoleUser$ | async) && !(isRoleAdmin$ |async)" class="ngContainer">
        <mat-toolbar-row>
          <!-- BUTTON  -->
          <!-- Emitting value from here when sidebar button is pressed -->
          <div class="menuItems">
            
            <a mat-button routerLink="user/user-home" 
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
              User Home
            </a>
            <a mat-button routerLink="user/user-profile"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }">
              Profile
            </a>
            <a mat-button (click)="logout()">
              Logout
            </a>
          </div>
        </mat-toolbar-row>
    </ng-container>


    
    <!---------------------------------------- For Admin ---------------------------------------------------------------------->
    <ng-container *ngIf="isRoleAdmin$ | async" class="ngContainer">
      <mat-toolbar-row>
        <div class="menuItems">
          <a mat-button routerLink="admin/clientTable"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
              Admin Dashboard
          </a>
          <a mat-button routerLink="admin/admin-profile"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
              Admin-Profile
          </a>
          <a mat-button (click)="logout()"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
              Logout
          </a>
        </div>
      </mat-toolbar-row>
    </ng-container>



</mat-toolbar>
  