.sortContainer{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: auto;
    box-sizing: border-box;
    overflow: auto;
    
    
}


    label{
        letter-spacing: 0.5px;
        font-size: 15px;
    }

    .sortBy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* background-color: coral; */
        margin-right: 1rem;
    }


    .sortBy select{
        width: min-content;
        
        font-size: auto;
        color: var(--secondaryColor);
        background-color: var(--white);
        font-size: 14px;
        padding: 0.3rem 1rem;
    }

    .sortDirection{
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* background-color: aliceblue; */
    }

        .sortDirection select{
            color: var(--secondaryColor);
            background-color: var(--white);
            font-size: 14px;
            padding: 0.3rem 1rem;
        }