


<main>


    <section class="firstContainer">

        <!-- left side -->
        <div class="imageContainer">
            <img class="slide-in img-fluid" src="assets/images/beach.JPG" alt="Image" >
        </div>


        <!--Right side  -->
        <div appAnimateOnScroll class="detailsContainer fade-in">
            <div class="language">
                <h5>SPRING BOOT | ANGULAR</h5>
            </div>

            <div appAnimateOnScroll class="profession fade-in">
            <h1>
                WEB <br>
                DEVELOPER
                </h1>
            </div>
            <div appAnimateOnScroll class="description fade-in">
                <p>Passion For Learning And Growing Is Never Out Of Fashion. lore</p>
            </div>
            <div class="aboutMe">
                <!-- <h5>NERAZ OLI</h5> -->
            </div>
            <div appAnimateOnScroll class="cv">
                <button class="downloadCvButton btn btn-primary">
                    Download CV
                </button>
            </div>

        </div>

    </section>


    <!------------------ Second Page--------------------------------------------------------------- -->
    <section appAnimateOnScroll  class="secondContainer fade-in">

        <!-- Left Side -->
        <div  appAnimateOnScroll class="detailsContainer fade-in">
            <div appAnimateOnScroll class="projectHeader fade-in">
               <h2> Client-Management System </h2>
            </div>

            <div appAnimateOnScroll class="projectDescription fade-in">
                <p>
                    All tools to facilitate the management of Client-Data is implemented in this project.
                    Searching (Categorically| Independently), Pagination, Sorting, CRUD, Role-Based Authentication, Security(JWT Token).
                </p>    
            </div>

        </div>

        <!-- right-side -->
        <div appAnimateOnScroll class="imageContainer fade-in">

            <img src="assets/images/20250305_184552~6.JPG" alt="image">
        </div>

    </section>


    <section appAnimateOnScroll class="thirdContainer fade-in">
        <div class="titleContainer fade-in">
           <h2> SKILLS </h2>
        </div>

        <div  appAnimateOnScroll class="detailsContainer fade-in">
            <div appAnimateOnScroll class="frontEnd fade-in">
                <h5 class="skillsTitle">FRONT-END</h5>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>BOOTSTRAP</li>
                    <li>ANGULAR</li>
                    <li>TYPESCRIPT</li>
                </ul>
            </div>

            <div appAnimateOnScroll class="backEnd fade-in">
                <h5 class="skillsTitle">BACK-END</h5>
                <ul>
                    <li>JAVA</li>
                    <li>SPRING BOOT</li>
                    <li>SPRING SECURITY</li>
                    <li>SPRING DATA JPA</li>
                    <li>HIBERNATE</li>
                    <li>REST API's</li>
                </ul>
            </div>

            <div appAnimateOnScroll class="dataBase fade-in">
                <h5 class="skillsTitle">DATABASE</h5>
                <ul>
                    <li>MySQL</li>
                </ul>
            </div>

            <div appAnimateOnScroll class="tools fade-in">
                <h5 class="skillsTitle">TOOLS</h5>
                <ul>
                    <li>GITHUB</li>
                    <li>SWAGGER</li>
                    <li>ECLIPSE</li>
                    <li>HIBERNATE</li>
                </ul>
            </div>

        </div> <!-- ends details container -->
   

    </section>



    <section class="lastContainer">
        





    </section>





















            <!-- <div appAnimateOnScroll class="fade-in">Fade animation</div> -->
</main>