<section class="introContainer">

        <!-- left side -->
        <div class="imageContainer shadow">
            <img class="slide-in img-fluid " src="assets/images/beach.JPG" alt="Image" >
        </div>


        <!--Right side  -->
        <div appAnimateOnScroll class="detailsContainer fade-in">
            <div class="language">
                <h5 >SPRING BOOT | ANGULAR</h5>
            </div>

            <div appAnimateOnScroll class="profession fade-in">
            <h1>
                WEB <br>
                DEVELOPER
                </h1>
            </div>
            <div appAnimateOnScroll class="description fade-in">
                <p>Passion For Learning And Growing Is Never Out Of Fashion.</p>
            </div>
            <div class="aboutMe">
                <!-- <h5>NERAZ OLI</h5> -->
            </div>
            <div appAnimateOnScroll class="cv">
                <a href="assets/myCv/_Neraz_oli_CV-2.pdf" download>
                    <button class="downloadCvButton btn btn-primary shadow">
                        Download CV
                    </button>
                </a>    
            </div>

        </div>

    </section>
