<main>

        <section class="imageContainer">
            <img src="/assets/images/stewie.jpg">
           
                <!-- this is display: flex  -->
            <div class="errorContainer">               
                <div class="errorSubContainer">
                    <div class="errorTitle">
                        ERROR 401! Unauthorized
                    </div> 
                    <div class="errorMessage">
                         You Are Not Authorized To Enter Here.
                    </div> 
                </div>
                <div class="redirectLink">
                    <button routerLink="/login">Return To Login Page</button>
                </div>
            </div>
            
        </section>



</main>