<!-- This is the PAGINATION COMPONENT -->
<div class=" d-flex justify-content-center mt-5">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" >
                <a class="page-link" (click)="changingRelToUrl('first')">FirstPage</a>
            </li>
            
            <li class="page-item " >
                <a class="page-link" (click)="changingRelToUrl('prev')"> &laquo; </a>
            </li>

           <!--  <li *ngFor="let page of pageNumbers"
                (click)="goToPage(page)"
                [class.active]="page === currentPage" class="page-item active">
                <a class="one page-link" (click)="changingRelToUrl('first')" > {{ page }} </a>
            </li> -->
       
            <li class="page-item" >
                <a class="page-link" (click)="changingRelToUrl('next')">  &raquo; </a>
            </li>

            <li class="page-item" >
                <a class="page-link" (click)="changingRelToUrl('last')">Last</a>
            </li>

        </ul>
    </nav>
</div>


<!-- This is for Selecting Number Of Client Contents Per Page -->
<section class="pageContent container-fluid  mb-2 p-2 text-center">
    
    <label class="me-3" for="contentNumber">Content Per Page </label>

    <select class="col-1 p-1 text-center bg bg-light text-dark" id="contentNumber" [(ngModel)]="contentSizeSelf"
    (change)="onContentSizeChange()">  
       <!-- generateContentSize is a method that generates the value for content size. it return array of number. -->
        @for (size of getcontentSize(); track size ) {
        <option value={{size}} > {{size}} </option>
        }
    </select>

</section>