.buttonTabs{
    margin-bottom: 40px;
    position: sticky;
    top:60px;
    z-index: 333;

    /* background-color: var(--white); */
  transition: background-color 0.3s ease;
}

.buttonTabs.scroll{
    background-color: var(--lighterShade);
    /* color:white; */
}



.searchContainer{
    margin:auto;
    max-width: 500px;
    margin-bottom: 3rem;
}