<!-- <p>
    Demo Table with Table UI
</p> -->
 <div [ngClass]="{'buttonTabs':true, 'scroll':isScrolled}">
        <app-button-tabs
        [buttonTabsChild]="buttonTabList"
        />
    </div>


<main class="demoContainer p-2 pt-0">

   
    <div class="searchContainer">
        <app-search-ui
        [searchFieldsChild]="searchField"
    />

    </div>
    


    @if (!isMobile) {
        <app-table-ui
            [tableColumnsChild]="clientLogColumns"
            [includeButtons]="false"
            [buttonListTable]="buttonList"
            [contents]="clientLogList"
            [includeCheckbox]="true"
            [includeInsertButton]="true"
            (deleteMultipleEventEmitter)="deleteSelectedClient($event)"
        />
    }


    @else if (isMobile) {
        <app-accordion-ui
            [contents]="clientLogList"
            [isSearchResultPresent]="isSearchResultPresent"
            [isLoading]="isLoading"
            [tableColumnsChild]="clientLogColumns"
            (deleteCheckedIDEventEmitter)="deleteSelectedClient($event)"
            [includeCheckbox]="true"
            [includeInsertButton]="true"
            [buttonList]="buttonList"
        />
    }


    <app-pagination
    (contentSize)="setContentSize($event)"
    />



    </main>