<main>
    <!-- This is Search UI -->
    
    <div *ngIf="includeSearchBar">
        <app-search-ui
            [searchFieldsChild]="searchFieldsData"
            (searchEventEmitter)="emitSearchRequest($event)"
        />
    </div>

    <!-------------------------------------- This is to insert new client -------------------------------------->
    <div class="insertButtonContainer">
        <app-buttons-ui
        [buttonType]="'insert'"
        (buttonClickedEventEmitter)="verifyClickedButton($event)"
        />
    </div>


    <!-------------------------------------- This table is for Bigger-Screen/Desktop -------------------------------------->
    <div class="clientTable">
        <table class="table table-borderless">
            <thead >
                <tr>
                    <!-- Checkbox Reset button -->
                    <th *ngIf="includeCheckbox">
                            <i class="uncheckIcon fa-solid fa-square-xmark fa-xl" 
                            (click)="resetCheckBox()"></i>
                    </th>
                    <!-- Dynamic Table Columns Header -->
                    @for (column of tableColumnsChild; track $index) {
                        <th (mouseenter)="showSortIcon('id')"
                            (mouseleave)="hideSortIcon()"
                            (click)="onSortClick('id')">
                            @if (column.highlightColumn) {
                                <span class="highlightHeader"> {{column.header}}</span>
                            }@else{
                            <b>{{column.header}}</b>
                            }
                        </th>
                    }       
                    <!--Static Table Column Header  -->  
                    <th *ngIf="includeButtons">
                        ACTION
                    </th>
                </tr>
            </thead>
            
            <!-- Table Contents -->
            <tbody>
                @for (row of contents; track $index) {
                    <!-- Checkbox for table contents -->
                    <tr *ngIf="!isLoading"   class="clickable-row" >
                        <td *ngIf="includeCheckbox">
                            <input type="checkbox" 
                            [checked]="selectedContent.includes(row.id)"
                            (change)="toggleCheckbox(row.id)"
                            class="checkbox">
                        </td>
                    
                        <!-- Dynamic Table contents-value || row[col.contentKey] is like Example: row1[col1.'firstName']  -->    
                        @for (col of tableColumnsChild; track $index) {
                            <td>
                                @if (col.isDate) {
                                    {{row[col.contentKey] | dateConverter}}
                                }@else if(col.isImage){
                                    <app-avatar-img
                                        [avatarImageUrl]="row[col.contentKey]"
                                    />
                                }@else if(col.highlightColumn){
                                    <span class="highlight">{{row[col.contentKey]}}</span>
                                }@else{
                                {{row[col.contentKey]}}
                                }
                            </td>
                        }
                    
                        <!-- Dynamic BUTTONS-UI FOR TABLE -->
                        @if (includeButtons) {
                            <td >
                                <div class="d-flex gap-3 justify-content-start" >
                                    @for (button of buttonListTable; track $index) {
                                        <app-buttons-ui
                                            [buttonType]="button.buttonValue"
                                            (buttonClickedEventEmitter)="verifyClickedButton($event)"
                                        />                               
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>


            <!-- ------------------------------------If client is  still loading for big screen---------------------------------------->
                        <tr *ngIf="isLoading">
                            <!-- <td colspan="8" class="loader text-center">

                                <div class="loadingMessage">Loading Please Wait a second</div>
                                <div class="spinner-border" role="status">
                                    
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td> -->
                            <app-loader-ui/>
                        </tr>


        </table>

        <!-- In case the search result is empty display Not Found Message -->
        <div *ngIf="!isSearchResultPresent && !isLoading" class="dataNotFound">
            NO Datas FOUND
        </div>
    
    </div>

        <!-- THESE ARE THE FLOATING BUTTONS THAT IS DISPLAYED WHEN CHECKBOX IS SELECTED (DELETE, RESET/CANCEL)  -->
     @if (selectedContent.length>0) {
        <app-floating-button-tab
        (deleteSelectedEmitter)="emitDeleteSelected()"
        (resetSelectedEmitter)="resetCheckBox()"
        />
    }
    



    <!-- THIS IS FOR THE MOBILE DEVICE -->
    <!-- @if (isMobile) {
    <app-accordion-ui
    [contents]="contents"
    [isSearchResultPresent]="isSearchResultPresent"
    [isLoading]="isLoading"
    [tableConfig]="tableColumnsChild"
    (deleteCheckedIDEventEmitter)=""
    />
    } -->






    
</main>
    <!-- MOBILE : This is Angular-Material-Accordian For smaller-Screen-------------------------------------------------------- -->
    <!-- <section  *ngIf="isMobile" class="tableMobile">
        <div class="mobileResetContainer text-center">
            <button mat-button class="resetButton" (click)="resetCheckBox()">
                <i class="uncheckIcon fa-solid fa-square-xmark fa-small" ></i>
                Reset Selection
            </button>

        </div> -->
            
            <!------------- If the page is still loading for mobile devices/small screen---------------  -->
                    <!-- <div *ngIf="isLoading" class="panelContainer col-13">

                        <div class="container p-5 text-center">
                            
                             <div class="loadingMessage">Loading Please Wait a second</div>
                            <div class="spinner-border" role="status"></div>

                        </div>

                    </div> -->




                    
        <!------------- If the page is loaded completely for mobile devices/small screen---------------  -->
        <!-- @for (row of contents; track $index) {
            <div *ngIf="!isLoading && isSearchResultPresent" class="mobileContainer">
              
                <mat-accordion >
                    <mat-expansion-panel class="panel">
                        
                        <mat-expansion-panel-header  class="panelHeader">
                            <mat-panel-title *ngIf="includeCheckbox" class="panelTitle" >
                                <input type="checkbox" 
                                    [checked]="selectedContent.includes(row.id)"
                                    (change)="toggleCheckbox(row.id)"
                                    (click)="$event.stopPropagation()">
                            </mat-panel-title>
                             @for (col of firstTwoColumns; track $index) { 
                                <mat-panel-title class="panelTitle"> {{row[col.contentKey]}} </mat-panel-title>
                            }
                        </mat-expansion-panel-header>

                         @for (col of tableColumnsChild; track $index) { 
                        <div class="contentContainer1">
                                <div class="firstContent">
                                    <span class="label">
                                        {{col.header}} &nbsp;:&nbsp; 
                                    </span>
                                    <span class="data">{{row[col.contentKey]}}</span>
                                </div>
                        </div>
                        }

                        <br>
                        <div class="buttons">
                            <button mat-raised-button class="update"
                            (click)="navigateToUpdatePage(row.id); $event.stopPropagation()">
                                <i class="fa-solid fa-pen" style="color: #ffffff;"></i>    
                            </button>
                            <button mat-raised-button class="delete"
                            (click)="openDeleteSingleClientModal(row.id)"> 
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </button>
                        </div>
        
                    </mat-expansion-panel>
                </mat-accordion>
            
            </div>
        }

         <div *ngIf="!isSearchResultPresent && !isLoading" class="clientNotFound">
        NO CLIENTS FOUND !!!
    </div>
    </section>   -->









