<!-- <main> -->

    <!-------------------------------------- This is to insert new client -------------------------------------->
   
   <div class="insertSortByContainer">
       
        @if (includeInsertButton) {
            <div class="insertButtonContainer ">
                <app-buttons-ui
                [buttonValue]="'insert'"
                [includeButtonLabel]="true"
                [buttonLabel]="'Insert Client'"
                (buttonClickedEventEmitter)="verifyClickedButton($event)"
                />
            </div>
        }

        <div class="sortContainer">

            <app-sort-drop-down-ui 
                [tableColumns]="tableColumnsChild"
                (sortByEventEmitter)="emitSortBy($event)"
            />
            <!-- <div class="sortBy">
                <label for="sortBy" class="me-2">  <i class="fa-solid fa-arrow-up-wide-short me-2"></i>Sort </label>
                <select name="sortBy" id="sortBy" (change)="setSortByValue($event)" [(ngModel)]="sortRequest.sortBy" >
                    @for (column of tableColumnsChild; track $index) {
                        <option value={{column.contentKey}} >
                            {{column.header}}
                        </option>
                    }
                </select>
            </div>

            <div class="direction">
                <label for="sortDirection">
                    sortDirection
                </label>
                <select name="sortDirection" id="sortDirection" (change)="setSortDirectionValue($event)">
                    <option [value]="Direction.Ascending"> Ascending </option>
                    <option [value]="Direction.Descending"> Descending </option>
                </select>

            </div> -->
        
        </div>

   </div>
                <!-- <input type="radio" name="sortDirection" id="asc" [value]="Direction.Ascending" (click)="setSortDirectionValue($event)">
                
                <label for="desc">
                    Descending
                </label>
                <input type="radio" name ="sortDirection" id="desc" [value]="Direction.Descending" (click)="setSortDirectionValue($event)">
            </div>
           {{sortDirection}} -->

      

    <!-------------------------------------- This table is for Bigger-Screen/Desktop -------------------------------------->
    <div class="clientTable">
        <table class="table table-borderless">
            <thead >
                <tr>
                    <!-- Checkbox Reset button -->
                    <th *ngIf="includeCheckbox">
                            <i class="uncheckIcon fa-solid fa-square-xmark fa-xl" 
                            (click)="resetCheckBox()"></i>
                    </th>
                    <!-- Dynamic Table Columns Header -->
                    @for (column of tableColumnsChild; track $index) {
                        <th>
                            @if (column.highlightColumn) {
                                <span class="highlightHeader"> {{column.header}}</span>
                            }@else{
                            <b>{{column.header}}</b>
                            }
                        </th>
                    }       
                    <!--Static Table Column Header  -->  
                    <th *ngIf="includeButtons">
                        ACTION
                    </th>
                </tr>
            </thead>
            
            <!-- Table Contents -->
            <tbody>
                @for (row of contents; track $index) {
                    <!-- Checkbox for table contents -->
                    <tr *ngIf="!isLoading"   class="clickable-row" >
                        <td *ngIf="includeCheckbox">
                            <input type="checkbox" 
                            [checked]="selectedContent.includes(row.id)"
                            (change)="toggleCheckbox(row.id)"
                            class="checkbox">
                        </td>
                    
                        <!-- Dynamic Table contents-value || row[col.contentKey] is like Example: row1[col1.'firstName']  -->    
                        @for (col of tableColumnsChild; track $index) {
                            <td>
                                @if (col.isDate) {
                                    {{row[col.contentKey] | dateConverter}}
                                }@else if(col.isImage){
                                    <app-avatar-img
                                        [avatarImageUrl]="row[col.contentKey]"
                                    />
                                }@else if(col.highlightColumn){
                                    <span class="highlight">{{row[col.contentKey]}}</span>
                                }@else{
                                {{row[col.contentKey]}}
                                }
                            </td>
                        }
                    
                        <!-- Dynamic BUTTONS-UI FOR TABLE -->
                        @if (includeButtons) {
                            <td >
                                <div class="d-flex gap-3 justify-content-center" >
                                    @for (button of buttonListTable; track $index) {
                                        <app-buttons-ui
                                            [buttonValue]="button.buttonValue"
                                            (buttonClickedEventEmitter)="verifyClickedButton($event, row.id)"
                                        />                               
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>


            <!-- ------------------------------------If client is  still loading for big screen---------------------------------------->
                        <tr *ngIf="isLoading">
                            <app-loader-ui/>
                        </tr>


        </table>

        <!-- In case the search result is empty display Not Found Message -->
        <div *ngIf="!isSearchResultPresent && !isLoading" class="dataNotFound">
            NO Datas FOUND
        </div>
    
    </div>

    <!-- THESE ARE THE FLOATING BUTTONS THAT IS DISPLAYED WHEN CHECKBOX IS SELECTED (DELETE, RESET/CANCEL)  -->
     @if (selectedContent.length>0) {
        <app-floating-button-tab
        (deleteSelectedEmitter)="emitDeleteSelected()"
        (resetSelectedEmitter)="resetCheckBox()"
        />
    }

<!-- </main> -->
