
/* main{
  padding:1rem;
  background-color: var(--lightShade);
}
 */


 .insertSortByContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-bottom: 2px solid var(--lightShade);
  padding: 1rem;
  /* background-color: green; */
 }

/* --------------------------------------INSERT Button----------------------------------------------------------- */
.insertButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: coral; */
  width: 100%;
}

.sortContainer{
  /* background-color: green; */
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* max-width: 200px;
  background-color: coral;
  overflow: auto; */
  width: fit-content;
  /* min-width: 30%; */
}





/* ----------------TABLE----------------------------- */
.clickable-row {
    /* cursor: pointer; */
    /* padding: auto !important; */
  }

.clickable-row:hover td {
  background-color: var(--lighterShade) !important;
  transition: background 0.1s ease;
}
  

/* This is for the table. */
.clientTable {
  overflow-x: scroll;
  max-width: 100%;
}


table{
  /* min-width: 100%;
  max-width: auto; */
  min-width: 100%;
  width: max-content;
}

th{
  padding-top:1rem;
  padding-left: 20px;
  color: var(--secondaryColor);
  font-size: 16px;
  min-width: max-content;
  text-align: center;
}

.highlightHeader{
   padding-top:1rem;
  padding-left: 20px;
  color: var(--orange);
  font-size: 16px;
  min-width: max-content ;
}
  
tr{
  height: 60px;
}

th:hover{
  cursor: pointer;
}

td{
  color:var(--secondaryColor);
  font-size: 14px;
  border-bottom: 1px solid var(--lightShade);
  padding-left: 20px;
  width: fit-content;
  text-align: center;
}

  .highlight{
    color: var(--orange);
  }

.uncheckIcon{
  cursor: pointer;
}





/*------------- THIS IS FOR THE CHECKBOX -----------------------*/
.checkbox{
  transform: scale(1.5);
  margin: 5px;
}


  .dataNotFound{
    background-color: var(--white);
    padding:1rem;
    text-align: center;
    color: var(--secondaryColor);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.3px;
  }



  
  @media(max-width: 900px){
    main{
      padding:0;
      background-color: var(--lighterShade);
    }

    .sortIcon{
      padding-left: 10px;
      padding-right : 10px;
    }
        
    th{
      padding-top:1rem;
      padding-left: 10px;
      color: var(--secondaryColor);
      font-size: 14px;
    }

    th:hover{
      cursor: pointer;
    }

    td{
      color:var(--secondaryColor);
      font-size: 12px;
      border-bottom: 1px solid var(--lightShade);
      padding-left: 10px;

    }



  }









