<main>
    <!-- Search UI -->
     <app-search-ui
        [searchFieldsChild]="searchFieldsTable"
        (searchEventEmitter)="emitSearchRequest($event)"
    />

     











<!-------------------------------------- This is DYNAMIC to insert new client -------------------------------------->
<!-- <div *ngIf="!isCheckBoxChecked" class="insertButtonContainer">
    <button type="button" class="button" (click)="openInsertClientModal()">
        <i class="fas fa-plus fa-lg me-2"></i> Insert
    </button>
</div> -->
<!-- This is DYNAMIC to deleteMultiple clients -->
<!-- <div *ngIf="isCheckBoxChecked" class="multipleDeleteButtonContainer">
    <button type="button" class="button btn btn-danger" (click)="openDeleteMultipleClientModal(selectedClients)">
        <i class="fa-solid fa-trash me-2"></i> Delete Multiple
    </button>
</div> -->




<!-------------------------------------- This table is for Bigger-Screen/Desktop -------------------------------------->
<div *ngIf="!isMobile" class="clientTable">
    <table class="table table-borderless">

        <thead >
            <tr>
               
                <th *ngIf="includeCheckbox">
                    <!-- <button class="btn" (click)="resetCheckBox()"> -->
                        <i class="uncheckIcon fa-solid fa-square-xmark fa-xl" (click)="resetCheckBox()"></i>
                    <!-- </button> -->
                </th>
            @for (column of tableColumnsChild; track $index) {
                <th (mouseenter)="showSortIcon('id')"
                    (mouseleave)="hideSortIcon()"
                    (click)="onSortClick('id')">
                    <b>{{column.header}}</b>
                     <i [style.visibility]="isSortIdVisible ? 'visible' : 'hidden'" 
                     class="sortIcon fa-solid fa-sort"
                     ></i>
                </th>
                 }       
                       
                <th *ngIf="buttonList.length>0">
                    ACTION
                </th>
           
            </tr>
        </thead>
          
        <tbody>
            @for (row of contents; track $index) {
                <tr *ngIf="!isLoading"   class="clickable-row" >
                    <td *ngIf="includeCheckbox">
                        <input type="checkbox" 
                        [checked]="selectedContent.idList.includes(row.id)"
                        (change)="toggleClientSelection(row.id)"
                        class="checkbox">
                    </td>
                
                    
                @for (col of tableColumnsChild; track $index) {
                    <td>
                        {{row[col.contentKey]}}
                        <!-- <ng-container [ngSwitch]="true">
                            <img *ngSwitchCase="col.isImage" [src]="row[col.key]" width="40" />
                            <span *ngSwitchCase="col.isArray">{{ row[col.key]?.join(', ') }}</span>
                            <span *ngSwitchCase="col.isDate">{{ row[col.key] | date: 'mediumDate' }}</span>
                            <span *ngSwitchDefault>{{ row[col.key] }}</span>
                        </ng-container> -->
                    </td>
                     }
                

                    <td class="text-center">
                        <div class="d-flex gap-3 justify-content-start">
                            <button *ngIf="buttonList.includes('update')" class="updateButton" (click)="navigateToUpdatePage(row['id']); $event.stopPropagation()">
                               <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                            </button>

                            <button *ngIf="buttonList.includes('delete')" class="deleteButton" (click)="openDeleteSingleClientModal(row['id'])">
                               <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </button>
                        </div> 
                    </td>
               
                </tr>
            }
        </tbody>


          <!-- ------------------------------------If client is  still loading for big screen---------------------------------------->
                      <tr *ngIf="isLoading">
                        <td colspan="8" class="loader text-center">

                            <div class="loadingMessage">Loading Please Wait a second</div>
                            <div class="spinner-border" role="status">
                                
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>


    </table>

    <!-- <div *ngIf="!isSearchResultPresent && !isLoading" class="clientNotFound">
        NO CLIENTS FOUND
    </div> -->
</div>






<!-- MOBILE : This is Angular-Material-Accordian For smaller-Screen-------------------------------------------------------- -->
    <section  *ngIf="isMobile" class="tableMobile">
        <div class="mobileResetContainer text-center">
            <button mat-button class="resetButton" (click)="resetCheckBox()">
                <i class="uncheckIcon fa-solid fa-square-xmark fa-small" ></i>
                Reset Selection
            </button>

        </div>
            
            <!------------- If the page is still loading for mobile devices/small screen---------------  -->
                    <div *ngIf="isLoading" class="panelContainer col-13">

                        <div class="container p-5 text-center">
                            
                             <div class="loadingMessage">Loading Please Wait a second</div>
                            <div class="spinner-border" role="status"></div>

                        </div>

                    </div>


        <!------------- If the page is loaded completely for mobile devices/small screen---------------  -->
        @for (row of contents; track $index) {
            <div *ngIf="!isLoading && isSearchResultPresent" class="mobileContainer">
              
                <mat-accordion >
                    <mat-expansion-panel class="panel">
                        
                        <mat-expansion-panel-header  class="panelHeader">
                            <mat-panel-title *ngIf="includeCheckbox" class="panelTitle" >
                                <input type="checkbox" 
                                    [checked]="selectedContent.idList.includes(row.id)"
                                    (change)="toggleClientSelection(row.id)"
                                    (click)="$event.stopPropagation()">
                            </mat-panel-title>
                             @for (col of firstTwoColumns; track $index) { 
                                <mat-panel-title class="panelTitle"> {{row[col.contentKey]}} </mat-panel-title>
                            }
                        </mat-expansion-panel-header>

                         @for (col of tableColumnsChild; track $index) { 
                        <div class="contentContainer1">
                                <div class="firstContent">
                                    <span class="label">
                                        {{col.header}} &nbsp;:&nbsp; 
                                    </span>
                                    <span class="data">{{row[col.contentKey]}}</span>
                                </div>
                        </div>
                        }

                        <br>
                        <div class="buttons">
                            <button mat-raised-button class="update"
                            (click)="navigateToUpdatePage(row.id); $event.stopPropagation()">
                                <i class="fa-solid fa-pen" style="color: #ffffff;"></i>    
                            </button>
                            <button mat-raised-button class="delete"
                            (click)="openDeleteSingleClientModal(row.id)"> 
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </button>
                        </div>
        
                    </mat-expansion-panel>
                </mat-accordion>
            
            </div>
        }

         <div *ngIf="!isSearchResultPresent && !isLoading" class="clientNotFound">
        NO CLIENTS FOUND !!!
    </div>
    </section>  








</main>

