  <!-- This is the delete Selected Button. -->
        <section class="actionBar sticky-bottom text-center mt-4 mb-2">
            <button class="btn delete" (click)="emitDeleteSelected()">
                <i class="fa-solid fa-trash fa-beat fa-2xl" style="color: #d11b3f;"></i>
                <span class="text-danger ms-2">Delete</span>
            </button>
            <button class="btn reset" (click)="emitResetSelected()">
                <i class="fa-solid fa-ban fa-2xl" style="color: #74C0FC;"></i>
                <span class=" ms-2"  style="color: #6db3e9;" >Reset</span>
            </button>
        </section>

