*{
    padding:0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

#router-outlet{
    /* min-height:  100vh; */
}
main{
    min-height: 90vh;
}

#router{
    background-color: black;
    padding: 0;
    margin: 0;
}


