<!-- This is to show the dynamic loading progress bar -->

<!-- <div class="container-fluid mt-4">
   

    <div *ngIf="isProgressBarActive" class="progress w-100">
            <div class="mb-2 w-100">
                    <progressbar class="bar progress-striped active w-100"  [striped]="false" [value]="progressValue"
                        [max]="100"
                        [animate]="true"

                        
                        >
                        {{progressValue}}%
                    </progressbar>
             </div>
    </div>

     <button class="btn btn-primary mt-3" (click)="loadProgressBar()">
            start Progress bar
    </button>
</div> -->

<main>
    <div class="mainContainer container">

    

        <!-- This is the info shown in login page -->
        <section class="info">

            <article class="infoHeader">
                <h5>
                New User? Register here.
                </h5>
            </article>

            <article class="description">
                <p>
                    Created By <span class="me">Neraz Oli</span>.
                </p>
                
            </article>

        </section>


        <!-- This is the formContainer  -->
        <section class="formContainer">
            <div class="headerContainer">
                <h4>
                    Registration Form
                </h4>
            </div>

            <form class="container shadow  p-5">

                <div class="form-floating mb-4 ">
                    <input type="email" class="form-control" id="floatingInput"  name="email" placeholder="name@example.com" 
                                                    [(ngModel)]="userObj.email">
                                                
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                                                    [(ngModel)]="userObj.password">
                                                
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" name="confirmPassword" placeholder="Confirm Password"
                            [(ngModel)]="userObj.confirmPassword">                          
                    <label for="floatingPassword">Confirm Password</label>
                </div>

                <div class="buttonContainer container text-center">
                    <button class="btn btn-primary" (click)="onRegister()" id="floatingPassword" placeholder="Password">
                        <i class="fa-solid fa-user-plus me-2"></i>
                        Register
                    </button>
                </div>

                <hr class=" w-75 mx-auto">
                <!-- this is for the regiter option -->
                <div class="text-center mt-3">
                    <button class="registerButton btn btn-primary"  routerLink="/login" > 
                        <i class="fa-solid fa-right-to-bracket me-1"></i>
                        Return to Login Page
                    </button>
                </div>
            </form>
        
        </section> <!-- ends formContainer -->
    </div> <!-- Ends mainContainer -->
</main>