

.indexLayoutContainer{
  background-color: var(--lightShade);
  min-height: 100vh; /* full viewport height */
}



.menuComponent {
  position: sticky;
  top: 0;
  z-index: 1000; /* make sure it stays above other elements */
  background-color: var(--darkBlue); /* or match your theme */
}


.content{
  padding: 2rem;
  box-sizing: border-box;
}

@media (max-height: 530px){

  .indexLayoutContainer{
    background-color: var(--lightShade);
    display: flex;
    flex-direction: column;
    min-height: 150svh; /* full viewport height */
  }
}