 <section appAnimateOnScroll  class="aboutMeContainer">

        <!-- Left Side -->
        <div  appAnimateOnScroll class="leftContainer">
            <div appAnimateOnScroll class="headerContainer">
               <h2> About Me</h2>
            </div>

            <div appAnimateOnScroll class="descriptionContainer">
                <p class="">
                    <span class="bold">On a personal Level</span> :<br>
                     I am a calm and collected person.
                    Even though I like writing songs, playing guitar I always felt like something was missing from my life.
                    The reason I fell in love with programming is that, the challenges and bugs in coding is hard but when I figure out the bug
                    and the application runs normally, now that is the  joy that I thrieve on.

                    <br>
                    <br>
                    <span class="bold">On a Professional level</span> : <br>
                    I am a Full-Stack Web Developer with 
                    professional knowlege of Angular/Typescript in the Front-End
                    and SpringBoot/Java in Back-End.
                    Although I am a Full-Stack developer, I am much more fluent in Java/Spring-Boot
                    and thus, more lineant towards Back-End.

                    <br>
                    <br>

                     Apart from programming I don't have much going on with my life. It has given an meaningful
                    aspect in my personal and professional life. 

                </p>    
            </div>

        </div>

        <!-- right-side -->
        <div appAnimateOnScroll class="imageContainer">

            <img class="slider img-fluid " src="assets/images/20250305_184552~6.JPG" alt="image">
        </div>

    </section>