 <section appAnimateOnScroll  class="aboutMeContainer">

        <!-- Left Side -->
        <div  appAnimateOnScroll class="detailsContainer">
            <div appAnimateOnScroll class="projectHeader">
               <h2> Client-Management System </h2>
            </div>

            <div appAnimateOnScroll class="projectDescription">
                <p>
                    All tools to facilitate the management of Client-Data is implemented in this project.
                    Searching (Categorically| Independently), Pagination, Sorting, CRUD, Role-Based Authentication, Security(JWT Token).
                </p>    
            </div>

        </div>

        <!-- right-side -->
        <div appAnimateOnScroll class="imageContainer">

            <img class="slider img-fluid " src="assets/images/20250305_184552~6.JPG" alt="image">
        </div>

    </section>