

<div class="footerContainer container-fluid">
          

        <div class="footerContents p-4">
               
               <div class="details"> 
                        <section class="me">
                                Developed By : <b>Neraz Oli</b><br>
                        </section>
                        
                        <section>
                                <span class="label">Email : &nbsp;</span>
                                <span class="links">nerazole&#64;gmail.com</span>     <br>
                        </section>

                        <section>
                                <span class="label">LinkedIn : &nbsp;</span> 
                                <span class="links">www.linkedin.com/in/nerazoli</span>
                        </section>
                        
                        
                        
                </div>
        </div>

</div>
