

<div class="footerContainer container-fluid">
          

        <div class="footerContents p-4">
               
               <div class="details"> 
                        <section class="me">
                                Developed By : <b>Neraz Oli</b><br>
                        </section>
                        
                        <section>
                                <span class="label">Email : &nbsp;</span>
                                <a [href]="'https://mail.google.com/mail/?view=cm&to=' + 'nerazole&#64;gmail.com'"
                                target="_blank" class="links">
                                        nerazole&#64;gmail.com
                                </a>  <br>
                        </section>

                        <section>
                                <span class="label">LinkedIn : &nbsp;</span> 
                                <a href="https://www.linkedin.com/in/nerazoli"
                                target="_blank" class="links">
                                        www.linkedin.com/in/nerazoli
                                </a>
                        </section>
                        
                        
                        
                </div>
        </div>

</div>
