<main class="bg bg-light">
<section class="mainContainer bg bg-light shadow m-3">

    <div class="imageContainer bg bg-light">
        <img src="assets/images/defaultImage.png" alt="">
    </div>

    <div class="detailsContainer bg bg-light">
        <div class="detailsHeader">
            <h3>Profile Details</h3>
        </div>

        <div class="details">
            <p hidden>ID: 1</p>
           <div class="email">
                <span class="label">Email :</span> <span class="contents"> nerazole&#64;gmail.com</span>
           </div>
           <div class="createdOn">
                <span class="label">Created On :</span><span class="contents"> 2014/09/02</span>
           </div>
          
        </div>
        <div class="updateButton">
            <button class="btn">Update User</button>
        </div>
        <div class="updatedOn">
            <p>Updated on 2023/03/23</p>
        </div>

    </div>







</section>

</main>