

<!-- <app-search-ui
[searchFieldsChild]="searchFields"
(searchEventEmitter)="searchClients($event)"

/> -->

    @if (!isMobile) {
        <app-table-ui
          
            [tableColumnsChild]="tableColumns"
            [contents]="clientList"
            [includeCheckbox]="true"
            [searchFieldsData]="searchFields"
            (searchEventEmitter)="searchClients($event)"

        />
    }

    @else if(isMobile){
        <app-accordion-ui
        [tableConfig]="tableColumns"
        [contents]="clientList"
        [isLoading]="false"

        />
    }