<!-- <p>
    Demo Table with Table UI
</p> -->
 <!-- <div [ngClass]="{'buttonTabs':true, 'scroll':isScrolled}">
        <app-button-tabs
        [buttonTabsChild]="buttonTabList"
        />
    </div> -->


<main class="demoContainer p-2 pt-0">

   
    <div class="searchContainer">
        <app-search-ui
        [searchFieldsChild]="searchFields"
    />

    </div>
    


    @if (!isMobile) {
        <app-table-ui
            [tableColumnsChild]="clientTableColumns"
            [includeButtons]="true"
            [buttonListTable]="buttonList"
            [contents]="clientList"
            [includeCheckbox]="true"
            [includeInsertButton]="true"            
            (deleteMultipleEventEmitter)="deleteMultipleClients($event)"
            (sortByEventEmitter)="sortClient($event)"
            (clickedButtonEventEmitter)="executeClickedButton($event)"
        />
    }


    @else if (isMobile) {
        <app-accordion-ui
            [tableColumnsChild]="clientTableColumns"
            [contents]="clientList"
            [isSearchResultPresent]="isSearchResultPresent"
            [isLoading]="isLoading"
            (deleteCheckedIDEventEmitter)="deleteMultipleClients($event)"
            [includeCheckbox]="true"
            [includeInsertButton]="true"
            [buttonList]="buttonList"
        />
    }


    <app-pagination
    (contentSize)="emittedContentSize($event)"
    (pageUrl)="toSpecificPage($event)"
    [pageLinks]="pageLinks"
    />



</main>