  <!-- ----------------------------------Index Menu-------------------------------------------------------------------- -->

  <mat-toolbar color="primary" *ngIf="!(isRoleUser$ | async) && !(isRoleAdmin$ | async)">
    <a mat-button routerLink="home" class="logo">
      <h3 class="m-0">Client List</h3>
    </a>
  
    <span class="spacer"></span>
  
    <nav>
      <a mat-button routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="me-2">home</mat-icon> Home
      </a>
  
      <a mat-button routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="me-2">login</mat-icon> Login
      </a>
  
      <a mat-button routerLink="register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="me-2">person_add</mat-icon> Register
      </a>
  
      <a mat-button routerLink="check" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="me-2">grid_view</mat-icon> GRID
      </a>
    </nav>
  </mat-toolbar>
  

