
.mainSearchContainer{
    padding : 2rem 2rem;
    background-color: var(--lighterShade);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1rem;

    /* position: sticky;
    z-index: 100;
    top:57px;
    opacity: 0.95; */
    background-color: var(--lighterShade);
    width: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: green; */
}

/* This is the container of the searchBox --searchInput and button and Icon */
.searchBoxContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: blue; */
    max-width: max-content;
}

    /* this is just the Input type="text"  */
    .searchBoxContainer>.searchBox{
        max-width: 900px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border: 3px solid var(--lightShade);
        border-right: none;
        color: var(--darkBlue);
    }

    /* This is the button of the search box. */
   .searchButton{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        text-align: center;
        background-color: var(--secondaryColor ) !important;
        border: none;
    }

    .searchButton:hover{
        background-color: var(--primaryColor) !important;
    }



/* This is outerContainer of the searchBy radio and labels */
.searchByContainer{
    margin-top: 1rem;
    /* position: relative; */
    max-width: 500px ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    grid-template-areas: "searchBy";
}

/* This is each radio and label container */
    .searchByContainer>.searchBy{
        font-size: 14px;
    }




@media (max-width: 650px){
    .mainSearchContainer{
            padding : 2rem 2rem;

        background-color: var(--ligherShade);
        border-radius: 10px;
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;

        position: sticky;
        z-index: 100;
        top:57px;
        opacity: 0.95;
        background-color: var(--lighterShade);
    }

    .searchBoxContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .searchBoxContainer>.searchBox{
        width: 100%;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }

    .searchBoxContainer>button{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        text-align: center;
    }

    

    .searchByContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        grid-template-areas: "searchBy";
    }

    .searchByContainer>.searchBy{
        /* background-color: coral; */
        min-width: 100px;
       font-size: 12px;
       letter-spacing: 0.5px; 
       position: relative;
    }


}









