
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="fa-solid fa-bars" style="color: #ff8000;"></i>
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header d-flex flex-row justify-content-between">
        <div>
            <button type="button"  data-bs-dismiss="offcanvas" >
                <i class="fa-solid fa-bars" style="color: #ff8000;"></i>
            </button>
        </div>
        <div>
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        </div>
    </div>


    <div class="offcanvas-body">
      <div>
        <ul>
            <li>
                <button routerLink ="/user/user-home/clientTable"> Client Table</button>
            </li>
            <li>
                <button routerLink ="/user/user-home/clientLogTable"> Client-Log Table</button>
            </li>
        </ul>
      </div>
      
    </div>
  </div>

  <router-outlet></router-outlet>
  <!-- <app-client-table/> -->