.clickable-row {
    cursor: pointer;
  }
  .clickable-row:hover {
    background-color: #f1f1f1;
  }

/* This is for the search container ------------------------------------------------------------*/
.container>.btn{
  background-color: var(--mutedOrange);
  border: none;
  color:var(--lightShade)
}

.container>.btn:hover{
  background-color: var(--orange);
}



.pageContent>.container-fluid{
  background-color: green;
}


/* This is for the update button ------------------------------------------------------------*/
  .btn.btn-primary{
    background-color: var(--secondaryColor);
    border: none;
    color: var(--lightShade);
    
  }

  .btn.btn-primary:hover{
    background-color: var(--darkBlue);
   /*  color: var(--secondaryColor); */
  }


  /* Pagination------------------------------------------------------------------- */

  .page-item>.page-link{
    background-color: var(--darkBlue);
    color: var(--lightShade);
    cursor: pointer;
    border: 1px solid var(--lightShade);
    /* border: 1px solid white; */
/* 
    border: 2px solid var(--orange);
    border-top: none;
    border-bottom: none; */
  }

 /*  .page-item>.active>.page-link{
    background-color: var(--orange);
  } */
   .page-item>.one {
    background-color: var(--orange);
    /* border-top:none;
    border-bottom: none; */

    cursor: pointer;
   }