@if (registrationStatus) {
   <!--  <div class="alert alert-success text-center" role="alert">
      <p>Success! User registered Successfully.</p> <button (click)="closeRegistrationMessage()">close</button> 
      </div> -->

      <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong>Success!</strong> User was registered Successfully.{{registrationMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeRegistrationMessage()"></button>
      </div>
}@else if (errorStatus) {
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>Error!</strong> Failed to Register the User.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeRegistrationMessage()"></button>
      </div>
}



<div class="container-fluid text-center mt-4 mb-4">
    <h3 class="text-primary text-primary">Login Page</h3>
</div>


<form class="container-fluid bg bg-light col-5 p-5">

    <div class="form-floating mb-3 ">
        <input type="email" class="form-control" id="floatingInput"  name="email" placeholder="name@example.com" 
                                        [(ngModel)]="user.email">
                                       
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                                        [(ngModel)]="user.password">
                                       
        <label for="floatingPassword">Password</label>
    </div>

    <div class="container-fluid text-center mt-3">
        <button class="btn btn-primary w-50" (click)="onLogin()" id="floatingPassword" placeholder="Password">Log In</button>
    </div>
</form>