


@if (registrationStatus) {
   <!--  <div class="alert alert-success text-center" role="alert">
      <p>Success! User registered Successfully.</p> <button (click)="closeRegistrationMessage()">close</button> 
      </div> -->

      <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong>Success!</strong> User was registered Successfully.{{registrationMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeRegistrationMessage()"></button>
      </div>
}






<div class="mainContainer container">

    <!-- This is the info shown in login page -->
    <section class="info">

        <article class="infoHeader">
            <h5>
                Hey there! Login Here.<br>
               
            </h5>
        </article>

        <article class="description">
            <p>
                For regular user Access, register as a new user.
                <!-- Created By <span class="me">Neraz Oli</span>. -->
            </p>
            
        </article>

        <article class="credentialsDetails">
            Admin Login Details : 
            <ul>
                <li >Email : admin&#64;gmail.com <br></li>
                <li>Password : 1111</li>
            </ul>
        </article>

    </section>


    <!-- This is the formContainer  -->
     <section class="formContainer">
        <div class="headerContainer">
            <h4>
                Login Form
            </h4>
        </div>

        <form class="container shadow  p-5">

            <div class="form-floating mb-4 ">
                <input type="email" class="form-control" id="floatingInput"  name="email" placeholder="name@example.com" 
                                                [(ngModel)]="user.email">
                                            
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                                                [(ngModel)]="user.password">
                                            
                <label for="floatingPassword">Password</label>
            </div>

            <div class="buttonContainer container text-center">
                <button class="btn btn-primary" (click)="onLogin()" id="floatingPassword" placeholder="Password">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Log In
                </button>
            </div>

            <hr class=" w-75 mx-auto">
            <!-- this is for the regiter option -->
             <div class="text-center mt-3">
                <button class="registerButton btn btn-primary" routerLink="/register"> 
                    <i class="fa-solid fa-user-plus me-2"></i>
                     Register
                </button>
            </div>
        </form>
       
    </section> <!-- ends formContainer -->
</div> <!-- Ends mainContainer -->

