


<!-- This is for Selecting Number Of Client Contents Per Page -->
<section class="pageContent container-fluid  mb-2 p-2 text-center">
    
        <label class="me-3" for="contentNumber">Content Per Page </label>
    
        <select class="col-1 p-1 text-center bg bg-light text-dark" id="contentNumber" [(ngModel)]="contentSize"
        (change)="setContentPerPage($event)">  
           <!-- generateContentSize is a method that generates the value for content size. it return array of number. -->
            @for (size of generateContentSize(); track size ) {
            <option value={{size}} > {{size}} </option>
            }
        </select>
    
<!-- </section> -->



<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>First-Name</th>
            <th>Last-Name</th>
            <th>Date-Of-Birth</th>
            <th>Postal-Code</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    
    <tbody>
        @for (client of clientList ; track client.id) {
            <!-- <tr class="clickable-row" (click)="openSelectedClient(client.id)"> -->
                <tr class="clickable-row">
                
                <td>{{client.id}}</td>
                <td>{{client.firstName}}</td>
                <td>{{client.lastName}}</td>
                <td>{{client.dateOfBirth}}</td>
                <td>{{client.postalCode}}</td>
                   
<!--                 <td><button class="btn btn-primary w-75" (click)="navigateToUpdatePage(client.id); $event.stopPropagation()"> Update</button></td>
 -->  
 <td><button class="btn btn-primary w-75" (click)="navigateToUpdatePage(client.id); $event.stopPropagation()"> Update</button></td>

 <td><button class="btn btn-danger" >Delete</button></td>
            
            </tr>
        }
    </tbody>


</table>

<!-- <button (click)="toNextPage()">Next Page</button> -->

<div class=" d-flex justify-content-center mt-5">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" >
                <a class="page-link" (click)="toSpecificPage('first')">FirstPage</a>
            </li>
            
            <li class="page-item " >
                <a class="page-link" (click)="toSpecificPage('prev')"> < </a>
            </li>
         <li class="page-item active"><a class="one page-link" (click)="toSpecificPage('first')" > 1 </a></li>
       
        <li class="page-item" >
            <a class="page-link" (click)="toSpecificPage('next')"> > </a>
        </li>
        <li class="page-item" >
            <a class="page-link" (click)="toSpecificPage('last')">Last</a>
        </li>
        </ul>
    </nav>
</div>
