/* You can add global styles to this file, and also import other style files */


:root{
    --darkBlue: #112C50;
    /* --introBackground: #E8E8E8; */
    /* --introBackground: #E8E8E8; */
	--orange: #EF6602;  /* Button links or icons. use minimal */
    --mutedOrange: #FF8C42;
	--lightOrange : #ffd9be;
	--white : #ffffff;
    --lightBlue: #4B6F8C;
    --lightShade : #E8E8E8;
	/* --lightShade : #F5F5F5; */
	--lighterShade : #F5F5F5;
    /* #FF8C42 */

	--uploadHover:  #faebdd;
	--uploadBackground:   #fdf9f2; 
    --primaryColor:#112C50;
    --secondaryColor: #2E5A88;  
    --backgroundColor:  #F5F5F5;
    --textColor: #333333;


	--deleteButton:#e53935;
	--updateButton:#1e88e5;

}

/* ANIMATION DIRECTIVES : */

/* styles.css or component CSS */
[appAnimateOnScroll] {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 0.6s ease-out, transform 0.8s ease-out;
  }
  
  [appAnimateOnScroll].animate-in {
	opacity: 1;
	transform: translateY(0);
  }
  
  /* Add more animation variations as needed */
  /* .fade-in {
	 transition: opacity 0.6s ease-out; 
	} */

  .fade-in.animate-in {
	 opacity: 1;
	}
  
  /* .slide-left { transform: translateX(20px); }
  .slide-left.animate-in { transform: translateX(0); } */



/* FOR TOASTR MESSAGES--------------------------------------------- */

	.toast-top-right {
		top: 68px !important; /* adjust this based on your .menuComponent height */
		/* left: 50%; */
		/* transform: translateX(-50%); */
		z-index: 1060; /* higher than navbar if needed */
	}

	@media (max-width: 650px){
		.toast-top-right {
			top: 60px !important; /* adjust this based on your .menuComponent height */
			left: 50%;
			transform: translateX(-50%);
			z-index: 1060; /* higher than navbar if needed */
		}
	}

	




/* Primary Color: #112C50 (Dark Navy Blue)

Secondary Color: #2E5A88 (Lighter Blue for variety)

Accent Color: #EF6602 (Bright Orange for highlights)

Background Color: #F5F5F5 (Lighter Gray for a cleaner look)

Text Color: #333333 (Dark Gray for readability) */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
