
main{
  /* padding-top:1rem; */
  background-color: var(--lighterShade);
}


.mainContainer{
    overflow: scroll !important;
    padding:1rem;
    background-color: var(--lighterShade);
}


.header{
  background-color: var(--lighterShade);
  opacity: 0.9;
  margin-bottom: 0px;
  position: sticky;
  top: 60px;
  z-index: 100; /* make sure it stays above other elements */
  width: 100%;
}

.header>p{
  padding: 1rem;
  color: var(--secondaryColor);
  margin-bottom: 0px;
  font-family: 'Inter', sans-serif !important;
  font-size: 22px;
}

.clickable-row {
    cursor: pointer;
  }

.clickable-row:hover td {
  background-color: var(--lighterShade) !important;
}

th{
    font-weight: bold;
    letter-spacing: 0.5;
    font-size: 16px;
    color: var(--secondaryColor);
    padding-left: 20px;
    padding-top:2rem;
    padding-bottom: 2rem;
    cursor: pointer;
}

  .sortIcon{
        padding-left: 20px;
        padding-right : 20px;
      }

td{
  color:var(--secondaryColor);
  font-size: 14px;
  border-bottom: 1px solid var(--lightShade);
  padding-left: 20px;
}

/* ------------------------- Update button -----------------------------------------------*/
  .updateButton{
     padding:16px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-self: center;
    border-radius: 50%;
    background-color: var(--updateButton);  
  }

  .updateButton:hover{
    transition-duration: 0.2s;
    background-color: var(--darkBlue);
  }


/* ----------------------- Delete button --------------------------------------*/
  .deleteButton{
    padding:16px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-self: center;
    border-radius: 50%;
    background-color: var(--deleteButton);
  }

  .deleteButton:hover{
    transition-duration: 0.2s;
    box-shadow: 2px 0.8px 5px  rgb(169, 76, 76);
  }

@media(max-width: 900px){
    .mainContainer{
      padding:0;
      background-color: var(--lighterShade);
    }

    .sortIcon{
      padding-left: 10px;
      padding-right : 10px;
    }
        
    th{
      padding-top:1rem;
      padding-left: 10px;
      color: var(--secondaryColor);
      font-size: 14px;
    }

    th:hover{
      cursor: pointer;
    }

    td{
      color:var(--secondaryColor);
      font-size: 12px;
      border-bottom: 1px solid var(--lightShade);
      padding-left: 10px;

    }



  }























/* ---FOR SMALLER SCREEEN............................................. */

@media (max-width:650px){


  .header{
  padding: 1rem;
  background-color: var(--lighterShade);
  opacity: 0.9;
  margin-bottom: 0px;
   position: sticky;
  top: 60px;
  z-index: 100; /* make sure it stays above other elements */
  width: 100%;

}


}
.mobileContainer{
      margin-bottom:8px;
     } 

     /* this is to change the background color and remove box shadow of matAccordian panel */
    ::ng-deep .panel {
      box-shadow: none !important;
      border-radius: 0px !important;
      background-color: var(--white) !important;
    }

   /* This is the main content displayed in the panel */
   .panelTitle{
    font-size: small;
    font-weight: 500;
    color : var(--secondaryColor);
   }

  /* This is the content container */
  .contentContainer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .contentContainer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  /* These are the Sub-container(1.DateOfBirth: ...  and  2. Postalcode: ....) */
  .firstContent,.secondContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Label inside of subContainers */
  .label{
    font-weight: 600;
    font-size: small;
    color: var(--lightBlue);
  }

  /* data inside of subContainers */
  .data{
     font-weight: 400;
    font-size: small;
    color: var(--lightBlue);
  }

  /* This is the button container */
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Creating a little space between the button */
  .buttons>button{
    margin: 10px;
    margin-top: 0px;
  }

  .buttons .delete{
    background-color: var(--deleteButton);
    color:white;
  }

  .buttons .update{
    background-color: var(--updateButton);
    color:white;
  }

    .buttons .update:active{
    background-color: var(--lightBlue);
    transition-duration: 0.5s;
  }

  .buttons .delete:active{
    background-color: var(--orange);
       transition-duration: 0.5s;
  }