
<main class="projectContainer">

    <section class="title">
      <h4>Client Records</h4>
    </section>

    <section class="features">

        <div class="mainFeatures">
            <ul>
                <li>
                   User Registration : After Registration Email Verification is required.
                </li>
                <li>
                   User Login : Role Based Login (User, Admin).
                </li>
                <li>
                   Authentication : JWT-Token is used for Authentication.
                </li>
            </ul>
        </div>


    </section>

    <section class="technologiesUsed">
      
    </section>





</main>